:root {
    --font1: 'norwesterregular', sans-serif;
    --font2: 'Open Sans', sans-serif;
    --f1: 5.653rem; /* 109.66px */
    --f2: 3.998rem; /* 67.77px */
    --f3: 2.827rem; /* 41.89px */
    --f4: 1.999rem; /* 25.89px */
    --fbase: 1rem; /* 20.00px */
    --fsmall: 0.707rem; /* 12.25px */
    --dark: #3c3744;
    --light: #FFF1E6;
    --primary: #090C9B;
    --accent1: #3D52D5;
    --accent2: #5BC0EB;
}

/* Global */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: clamp(1em, .4167vw + .8875em, 1em);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--font1);
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f1);
    font-weight: 600;
  }
  
h2 {
    margin: 0;
    font-size: var(--f2);
    font-weight: 600;
}
  
h3 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f3);
}

h4 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f4);
}
  
p {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-family: var(--font2);
}
  
small, .text_small {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--fsmall);
    font-family: var(--font2);
}

a {
    text-decoration: none;
}

input {
    border: none;
}

fieldset {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Background */

.--grainy-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    mix-blend-mode: multiply;
    opacity: 50%;
    z-index: -1;
    overflow-x: hidden;
}

/* Intro */

#title_intro {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--light);
    z-index: 100;
}

#title_intro video {
    mix-blend-mode: multiply;
    object-fit: contain;
    object-position: center;
}

.--video-start {
    animation: videoOpacity 2s;
}

.--video-end {
    display: none;
}

@keyframes videoOpacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* Main */

main {
    position: relative;
    display: grid;
    height: 100vh;
    width: 100%;
    place-content: center;
    overflow-y: hidden;
}

.h1-wrap {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    background-color: var(--dark);
    color: var(--light);
    z-index: 50;
}

.h1-wrap.active {
    animation: contentFadeIn 1s ease-in forwards 1s;
}

@keyframes contentFadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.main-intro {
    display: block;
    text-align: center;
}

.main-intro span {
    display: block;
    padding: 2rem 0;
}

span.beginning {
    display: block;
    opacity: 0%;
    transform: scale(0);
}

span.there {
    display: none;
    opacity: 0%;
    transform: 
    scale(0)
    translateY(-100%);
}

span.and {
    display: none;
    font-size: 200px;
}

span.canoe {
    display: none;
}

main.section-wrap {
    position: absolute;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

main.hidden {
    visibility: hidden;
}

.arrow {
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
}

.arrow.right {
    right: 0;
    padding-right: 2rem;
}

.arrow.left {
    padding-left: 2rem;
}

.fa-solid {
    opacity: 50%;
    font-size: 250px;
    color: var(--dark);
    transition: all 250ms ease-in-out;
}

.fa-solid:hover {
    opacity: 100%;
    color: var(--dark);
}

section {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-size: 100px;
    color: var(--dark);
}

img {
    height: 40%;
    border-radius: 1rem;
}

.date {
    font-size: 50px;
    font-family: var(--font1);
    color: var(--dark);
}