:root {
    --font1: 'norwesterregular', sans-serif;
    --font2: 'Open Sans', sans-serif;
    --f1: 5.653rem; /* 109.66px */
    --f2: 3.998rem; /* 67.77px */
    --f3: 2.827rem; /* 41.89px */
    --f4: 1.999rem; /* 25.89px */
    --fbase: 1rem; /* 20.00px */
    --fsmall: 0.707rem; /* 12.25px */
    --dark: #3c3744;
    --light: #FFF1E6;
    --primary: #090C9B;
    --accent1: #3D52D5;
    --accent2: #5BC0EB;
}

/* Global */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: clamp(1em, .4167vw + .8875em, 1em);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 5vh 2.5vw;
    background-color: var(--light);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--font1);
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f2);
    font-weight: 600;
  }
  
h2 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f2);
}
  
h3 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f3);
}

h4 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f4);
}
  
p {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-family: var(--font2);
}
  
small, .text_small {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--fsmall);
    font-family: var(--font2);
}

a {
    text-decoration: none;
}

input {
    border: none;
}

fieldset {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Background */

.--grainy-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    transform: scaleX(120%);
    opacity: 50%;
    z-index: -1;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#I {
    position: relative;
}

#I::before {
    position: absolute;
    display: contents;
    content: attr(data-name);
    top: -0.40rem;
    height: calc(var(--font1));
    transform-origin: center;
    opacity: 50%;
    animation: rotateI 5s infinite 2s;
} 

#I::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: -0.25rem;
    right: -2rem;
    height: 4rem;
    width: 4rem;
    border: 0.5rem solid var(--dark);
    border-radius: 50%;
    opacity: 0%;
    z-index: -1;
    animation: displayI 5s infinite 2s;
}

@keyframes rotateI {
    from {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(45deg);
    }

    10% {
        transform: rotate(90deg);
    }

    15% {
        transform: rotate(135deg);
    }

    20% {
        transform: rotate(180deg);
    }

    25% {
        transform: rotate(225deg);
    }

    30% {
        transform: rotate(270deg);
    }

    35% {
        transform: rotate(315deg);
    }

    40% {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes displayI {
    from {
        opacity: 0%;
    }

    5% {
        opacity: 50%;
    }

    40% {
        opacity: 50%;
    }
    
    to {
        opacity: 0%;
    }
}

/* Main */

main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 70vh;
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: var(--light);
    opacity: 75%;
    filter: blur(20px);
    mix-blend-mode: multiply;
}

.--display-content {
    grid-area: 1 / 1 / 3 / 4;
}

.--nav-arrow.--right {
    grid-area: 2 / 3;
}

.--nav-arrow.--left {
    grid-area: 2 / 1;
}

.--content-name {
    grid-area: 3 / 2;
    margin: 0;
}